#blogList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.blog-item {
    border: 1px solid #ccc;
    padding: 15px;
    width: 25vw;
    height: 15vh;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-item h3 {
    margin-top: 0;
    color: #333;
}

.blog-item p {
    margin: 10px 0;
    color: #555;
}

.read-blog , .delete-blog {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-blog:hover {
    background-color: #555;
}
.delete-blog:hover{
    background-color: #555;

}
.read{
    color: #ccc;
    text-decoration: none;
}
.single-blog{
    background-color: aqua;
}