* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  background-color: #303030;
  color: #fff;
}
.flex {
  display: flex;
  align-items: center;
}
.navigation {
  height: 74px;

  font-family: var(--font1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border-bottom:1px solid #303030; */
  /* background-color: #bfff00; */
}
.nav-left {
  font-size: 20px;
  display: flex;
}

.nav-right {
  display: flex;
  justify-content: space-between;
 
  margin-top: -31px;
  
 
}
.add-blog-btn {
  background-color: #eed118;
  width: 30px;
  height: 28px;
  border-radius: 29px;
   margin-left: 23px;
  color: #181818;
  border: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.add-blog-btn:hover {
  color: #fff;

  border: 1px solid #eece18;
  background-color: #323127;
}
.search-input {
  background-color: #303030;
  border: 1px solid #eece18;
  width: 350px;
  border-radius: 23px;
  position: absolute;
  color: #fff;
}

.search-input > input {
  outline: none;
  height: 29px;
  background-color: #303030;
  text-align: center;
  padding: 20px;
  width: 270px;
  border-radius: 20px;
  /* margin-top: 4px; */
  border: none;
}
.content-left {
  font-family: var(--font2);

  justify-content: center;
  align-items: center;
}
.content-left h1 {
  color: #eed118;
}
.content-left > p {
  text-align: center;
  padding: 15px 0;
}
.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 395px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 9px;
  /* background-color: #f4f4f4; */
}

.footer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;

  color: #fff;
  background-color: #1b1a1a;
}

header {
  display: flex;
}

form {
  display: grid;
  gap: 10px;
  width: 400px;
  padding: 42px;
  background-color: #fafafa;
  border-radius: 10px;
}
form input {
  padding: 15px;
  border: 1px solid gray;
  text-align: center;
  border-radius: 12px;
}
form textarea {
  padding: 25px;
  text-align: center;
  border-radius: 12px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #303030;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 600;
}

button[type="submit"]:hover {
  background-color: #59584e;
}
#overlay {
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: flex;

  margin: auto;
  top: 0;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
  transition: opacity 0.8s, display 0.8s;
  display: none;
  z-index: 100;
}
#overlay.active-add-blog {
  display: flex;
  opacity: 1;
}

.add-blog-section {
  max-width: 600px;
  width: 95vw;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 15px #0000001e;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.add-blog-section header {
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #00000036;
}

.add-blog-section header h2 {
  font-size: 24px;
  color: #eed118;
}

#close-blog-btn {
  cursor: pointer;
  color: #181818;
}
